[Desktop Entry]
Name = define-me
Comment = define-me
GenericName = define-me
Exec = /opt/extras.ubuntu.com/define-me/bin/define-me
Icon = /opt/extras.ubuntu.com/define-me/share/pixmaps/define-me.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
Name[it] = define-me
Name[de] = define-me
Name[en] = define-me
Name[gl] = define-me
Name[es] = define-me
Name[fr] = define-me
Comment[it] = define-me
Comment[de] = define-me
Comment[en] = define-me
Comment[gl] = define-me
Comment[es] = define-me
Comment[fr] = define-me
GenericName[it] = define-me
GenericName[de] = define-me
GenericName[en] = define-me
GenericName[gl] = define-me
GenericName[es] = define-me
GenericName[fr] = define-me
